
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url(Fonts/Poppins.ttf);
    font-family: poppins;
}

* {
    padding: 0;
    margin: 0;
    font-family: poppins,'Poppins', sans-serif;
    line-height: inherit;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
}


:root {
    --primary-light: #fff;
    --primary-dark: #3C4852;
    /* --primary-dark: #161719; */
    --secondary-dark: #78829A;


    --brand-primary: #2D81F7;
    /* it can be used for text highlighting and etc. */
    --brand-secondary: #08BD80;
    /* it can be used for call to action buttons */
    --brand-offline: #dc143c;
    --brand-lightBlue: #F1F7FF;
    --brand-lightGreen: #ECFFF7;
    --brand-lightDark: #EDE9F3;

    --brand-purpleGrad: linear-gradient(45deg, #2B0054 0%, #8300FF 100%);
    --brand-greenGrad: linear-gradient(45deg, #005454 0%, #00FFD1 100%);

    --full-size: 1440px;
    --tab-size: 768px;

    --auto-margin-t-b: auto 0;
    --auto-margin-l-r: 0 auto;
}




body {
    background-color: var(--primary-light);
    width: 100vw;
    height: auto;
}


.header {
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid var(--primary-dark);
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav {
    padding: 0 1rem;
    margin: var(--auto-margin-l-r);
    max-width: var(--full-size);
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
}

.logobox {
    margin: var(--auto-margin-t-b);
    display: flex;
    width: 161px;
    animation: slideleft 2s ease;
}

.logobox a img {
    display: flex;
    width: 100%;
}


.nav-links {
    margin: var(--auto-margin-t-b);
    display: flex;
    gap: 0 2rem;
    font-weight: 600;
    animation: slideDn 1.5s ease;
}

.nav-links a {
    color: var(--primary-dark);
    cursor: pointer;
}

.nav-links a:hover {
    border-bottom: 2px solid var(--brand-primary);
    color: var(--brand-primary);
}

.nav-links a:focus {
    border-bottom: 2px solid var(--brand-primary);
    color: var(--brand-primary);
}


.action-btn {
    display: flex;
    margin: var(--auto-margin-t-b);
    gap: 0 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    animation: slideright 2s ease;
}

.action-btn .login {
    padding: 4px 1.5rem;
    border: 1px solid var(--brand-primary);
    border-radius: .5rem;
    color: var(--primary-dark);
    background: var(--brand-lightBlue);
}

.action-btn .signUp {
    color: var(--primary-light);
    background: var(--brand-primary);
    padding: 4px 16px;
    border-radius: .4rem;
}

.action-btn .signUp:hover {
    background: #125be2;
}

.nav i {
    display: none;
}

/* --------------------------------------------------------- */




/* --------------------------------------------------------- */
.hero {
    padding-top: 4rem;
    width: 100%;
    height: 29rem;
}

.hero-contents {
    padding: 0 1rem;
    display: flex;
    margin: var(--auto-margin-l-r);
    max-width: var(--full-size);
    height: 100%;
}

.hero-left {
    padding: 2rem 0;
    width: 50%;
    height: 100%;
    color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: slideleft 1.3s ease forwards;
}

.hero-left h1 {
    font-weight: 800;
    font-size: 3rem;
}

.hero-left h1 span {
    color: var(--brand-primary);
}

.hero-left p {
    width: 70%;
}

.hero-left .category {
    width: 90%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 0px 3rem #4d628040);
}


.category p {
    display: flex;
    align-self: flex-start;
    color: var(--primary-light);
    background: var(--primary-dark);
    width: fit-content;
    height: 1.5rem;
    padding: 0 1rem;
    border-radius: .4rem .4rem 0 0;
}

.category input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 1rem;
    font-weight: 500;
    border-radius: 0 0.4rem 0.4rem 0.4rem;
}


.hero-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    height: 75%;
    animation: slideright 1.3s ease forwards;
    filter: drop-shadow(0px 0px 56px rgba(100, 118, 139, 0.15));
}


/* --------------------------------------------------------- */




/* --------------------------------------------------------- */
.teams-section {
    width: 100%;
    height: auto;
}

.teams-member {
    max-width: var(--full-size);
    margin: var(--auto-margin-l-r);
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* overflow: auto; */
    place-items: center;
    gap: 2rem;

}

.card {
    width: 19rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    background: var(--primary-light);
    color: var(--primary-dark);
    filter: drop-shadow(0px 0px 56px rgba(100, 118, 139, 0.15));
    overflow: hidden;
    animation: slideDn 1s ease forwards;
}

.card:hover .img-card img{
    transform: scale(1.1);
}

.card .img-card {
    overflow: hidden;
    width: 100%;
    height: 45%;
    color: var(--primary-light);
    display: grid;
    place-content: center;
    background: var(--brand-greenGrad);
    
}

.card .img-card img {
    width: 100%;
    transition: transform 1s ease;
}

.card .texts,
.card .action-btn {
    margin: .8rem;
    justify-content: space-between;
    animation: slideleft 1.3s ease forwards;
}

.card .texts p{
    color: var(--secondary-dark);
}

.card .texts .name-chip {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.card .img-chip a{
    font-size: 8px;
    font-weight: 600;
    border-radius: 2px;
    background: #eee1ff;
    padding: 4px;
    display: flex;
    flex-direction: column;
    color: var(--secondary-dark);
}


.ratings {
    display: flex;
    margin: var(--auto-margin-t-b);
    font-size: 1rem;
    animation: slideleft 1.6s ease forwards;
}

.chat-btn a {
    color: var(--primary-light);
    background: var(--brand-primary);
    display: flex;
    column-gap: .5rem;
    align-items: center;
    height: 2rem;
    width: 6rem;
    justify-content: center;
    border-radius: .4rem;
    animation: slideleft 1.5s ease forwards;
}

.chat-btn a:hover {
    background: #125be2;
}

.chat-btn a i {
    display: flex;
}

/* ------------------------------------------------------------------------------ */

@media screen and (max-width: 1024px) and (orientation:portrait) {
    .teams-member {
        padding: 3rem 1rem;
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        margin: var(--auto-margin-l-r);
        place-items: center;
        overflow: auto;
        gap: 1rem;
    }

}


@media only screen and (max-width: 425px) {
    .header {
        height: 3rem;
    }

    .nav {
        padding: 0 .5rem;
    }

    .logobox img {
        width: 6rem;
    }

    .nav-links {
        display: none;
    }

    .header .action-btn {
        display: none;
    }

    .nav i {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        margin: var(--auto-margin-t-b);
    }


    /* hero section started */
    .hero {
        height: auto;
    }

    .hero-contents {
        height: 39rem;
        flex-direction: column;
        margin: var(--auto-margin-l-r);
    }


    .hero-left {
        width: 100%;
        height: 50%;
        text-align: center;
        align-items: center;
    }

    .hero-left h1 {
        font-weight: 900;
        font-size: 2rem;
    }


    .hero-left > p {
        width: 80%;
    }


    .hero-left .category {
        width: 95%;
    }



    .hero-right {
        /* width: 100%; */
        height: 50%;
        display: flex;
        margin: var(--auto-margin-l-r);
    }

    .hero-right img {
        height: 80%;
        display: flex;
        /* filter: drop-shadow(0px 0px 3rem #21509140); */
    }




    .teams-member {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        margin: var(--auto-margin-l-r);
        overflow: auto;
        gap: 2rem;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .header .action-btn {
        display: none;
    }

    .nav i {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        margin: var(--auto-margin-t-b);
    }

    .hero-left h1 {
        font-weight: 900;
        font-size: 2.5rem;
    }

    .teams-member {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin: var(--auto-margin-l-r);
        overflow: auto;
        gap: 2rem;
    }
    /* .teams-member {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin: var(--auto-margin-l-r);
        overflow: auto;
        gap: 2rem;
    } */
}

/* ------------------------------------------------------------------------------ */