* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFBF9;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: poppins; */
    position: relative;
}



.main-container {
    text-align: center;
    width: 390px;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 35px;
    background: #FCFDFF;
    /* background: red; */
    box-shadow: 21px 27px 50px -8px #d4b2b22b;
    border-left: 2px solid #e9f2ffec;
    overflow: hidden;
}

.imgBox {
    /* background: #000; */
    width: 100%;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.imgBox img {
    height: 100%;
}


.textsBox {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.textsBox h2 {
    font-size: 2rem;
    color: #000;
}

.textsBox p {
    color: #9E9E9E;
}

.btnBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnBox a {
    padding: 0 3rem;
    border-radius: 3rem;
    height: 56px;
    color: #fff;
    background: #307EF4;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(48, 126, 244, 0.25);
}

.btnBox a:hover {
    background: #4791ff;
}






@media only screen and (max-width: 425px) {

    .main-container {
        width: 256px;
        height: 356px;
        padding: 1rem;
        border-radius: 25px;
    }

    .imgBox {
        height: 50%;
    }

    .textsBox {
        width: 100%;
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: #fff;
    }
    
    .textsBox h2 {
        width: 100%;
        font-size: 1.4rem;
        color: #000;
    }
    
    .textsBox p {
        font-size: .9rem;
        color: #9E9E9E;
    }

    .btnBox a {
        padding: 0 1.5rem;
        border-radius: 3rem;
        height: 36px;
        font-size: 14px;
    }
}