
.header{
    position: sticky;
    background: white;
    top: 0;
    z-index: 50;
}

#content_wrapper{
    max-width: var(--full-size);
    height: 100%;
    display: flex;
    margin: var(--auto-margin-l-r);
    flex-direction: column;
}

#wrapper{
    width: 100%;
    background: var(--brand-secondary);
    margin: var(--auto-margin-l-r);
}

aside{
    width: 256px;
    height: 100vh;
    color: #fff;
    background: var(--brand-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sideBar{
    display: flex;
    flex-direction: column;
}

.sideBar h1{
    font-size: 3rem;
}

.sideBar span a{
    color: var(--textColor-dark);
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--primaryColor-light);
    font-weight: 500;
}

.sideBar span2{
    font-size: 4rem
}



@media only screen and (max-width: 425px) {
    #content_wrapper{
        /* top: 3rem; */
    }
}