@keyframes bounce {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounceball {
    0% {
        transform: translateY(-500%);
    }

    100% {
        transform: translateY(0);
    }
}

.header {
    position: fixed;
    top: 0;
}

#content-wrapper {
    margin: var(--auto-margin-l-r);
    top: 4rem;
    width: 100%;
    height: 100vh;
    display: flex;
    color: var(--tertiaryColor-dark);
    justify-content: center;
    align-items: center;
    background: var(--primaryColor-light);
}

.content-container-wrapper {
    max-width: var(--full-size);
    height: 100%;
    /* background: red; */
    flex: 1;
    display: flex;
    justify-content: space-between;
}


/* right container start */
.left-container {
    background: var(--brand-lightBlue);
    width: 324px;
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 4rem;
    color: var(--textColor-dark);
}

.left-head-content {
    padding: 0 2rem;
    border-bottom: 2px solid #e1e3e6;
}

.left-container h1 {
    margin: 2rem 0;
    color: var(--textColor-dark);
}

.left-contents {
    padding: 0 2rem;
}

.left-contents h3 {
    padding: 1rem 0;
    cursor: pointer;
}

.left-contents ul {
    display: none;
    list-style: none;
    border-left: 2px solid #e1e3e6;
    margin-bottom: 1rem;
}

.left-contents.active ul {
    display: block;
}


.left-contents ul li {
    padding: .5rem 1.5rem;
    margin: 4px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    line-height: 150%;
    font-weight: 600;
}

.left-contents ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.left-contents ul li a:focus {
    color: var(--brand-offline);
}

.left-contents ul li::before {
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--brand-offline);
    position: absolute;
    bottom: 50%;
    left: 15px;
    transform: translate(-50%, 50%);
    z-index: 2;
    opacity: 0;
}

.left-contents ul li::after {
    content: " ";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--brand-offlineLight);
    position: absolute;
    bottom: 50%;
    left: 15px;
    transform: translate(-50%, 50%) scale(1);
    opacity: 0;
}

.left-contents ul li:focus-within::after {
    animation: pulseAnimation 2s ease-in-out infinite;
}

.left-contents ul li a:focus {
    border-right: 2px solid var(--brand-offline);
    z-index: 3 !important;
}

@keyframes pulseAnimation {
    0% {
        transform: translate(-50%, 50%) scale(.2);
    }

    50% {
        transform: translate(-50%, 50%) scale(1.2);
    }

    100% {
        transform: translate(-50%, 50%) scale(.2);
        opacity: 0;
    }
}

.left-contents ul li.active::before,
.left-contents ul li.active::after {
    opacity: 1;
    /* Show the circles when the li is active */
}


/* center container start */
.center-container {
    color: var(--textColor-dark);
    flex: 1;
    overflow: hidden;
    border-left: 2px solid #e1e3e6;
    text-align: center;
}


/* right container start */
.right-container {
    text-align: center;
    color: var(--brand-offline);
    width: 356px;
    border-left: 2px solid #e1e3e6;
    height: calc(100% - 4rem);
    display: flex;
    position: sticky;
    top: 4rem;
    align-self: flex-start;
    overflow: hidden;
}


@media only screen and (max-width: 425px) {
    #content-wrapper {
        top: 3rem;
    }

    .left-container,
    .right-container {
        top: 3rem;
    }

    .content-container-wrapper{
        background: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .left-container, .right-container{
        display: none;
    }

    .center-container, .right-container{
        border: none;
    }

    .center-container{
        width: 100%;
        height: 256px;
        background: #fff;
    }
    .right-container{
        height: 256px;
        background: #fff;
    }
}





@media only screen and (min-width: 426px) and (max-width: 768px) {
    .content-container-wrapper{
        background: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .left-container, .right-container{
        display: none;
    }

    .center-container, .right-container{
        border: none;
    }

    .center-container{
        width: 100%;
        height: 256px;
        background: #fff;
    }
    .right-container{
        height: 256px;
        background: #fff;
    }
}