

.header {
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid var(--primary-dark);
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav {
    padding: 0 1rem;
    margin: var(--auto-margin-l-r);
    max-width: var(--full-size);
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.logobox {
    margin: var(--auto-margin-t-b);
    display: flex;
    width: 161px;
    animation: slideleft 2s ease;
}

.logobox a img {
    display: flex;
    width: 100%;
}


.nav-links {
    margin: var(--auto-margin-t-b);
    display: flex;
    gap: 0 2rem;
    font-weight: 600;
    animation: slideDn 1.5s ease;
}

.nav-links a {
    color: var(--primary-dark);
    cursor: pointer;
}

.nav-links a:hover {
    border-bottom: 2px solid var(--brand-primary);
    color: var(--brand-primary);
}

.nav-links a:focus {
    border-bottom: 2px solid var(--brand-primary);
    color: var(--brand-primary);
}


.action-btn {
    display: flex;
    margin: var(--auto-margin-t-b);
    gap: 0 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    animation: slideright 2s ease;
}

.action-btn .login {
    padding: 4px 1.5rem;
    border: 1px solid var(--brand-primary);
    border-radius: .5rem;
    color: var(--primary-dark);
    background: var(--brand-lightBlue);
}

.action-btn .signUp {
    color: var(--primary-light);
    background: var(--brand-primary);
    padding: 4px 16px;
    border-radius: .4rem;
}

.action-btn .signUp:hover {
    background: #125be2;
}

.nav i {
    display: none;
}



/* Codes for sidebar  */
.sidebar {
    /* Set initial state to be hidden */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    /* Adjust the width as needed */
    background-color: var(--primary-dark);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 1rem 0;
}

.sidebar #closeIcon img {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar a {
    padding: .5rem 1rem;
    border-radius: 4px;
    width: 90%;
    color: var(--primary-light);
}

.sidebar .signUp{
    border: 1px dashed var(--secondary-dark);
}

.sidebar a:hover {
    background: var(--secondary-dark);
    color: var(--primary-light);
}

.sidebar a:focus {
    background: var(--brand-primary);
}


/* Apply this class when the sidebar is open */
body.sidebar-open .sidebar {
    transform: translateX(0);
}

body.sidebar-open {
    overflow: hidden;
}

body.sidebar-open .sidebar {
    position: fixed;
}

body.sidebar-open .hero,
.teams-section {
    position: sticky;
}

/* --------------------------------------------------------- */









/* <!-- hero section starts --> */
.hero {
    width: 100%;
    height: 29rem;
}

.hero-contents {
    padding: 0 1rem;
    display: flex;
    margin: var(--auto-margin-l-r);
    max-width: var(--full-size);
    height: 100%;
}

.hero-left {
    padding: 2rem 0;
    width: 50%;
    height: 100%;
    color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: slideleft 1.3s ease forwards;
}

.hero-left h1 {
    font-weight: 800;
    font-size: 3rem;
}

.hero-left h1 span {
    color: var(--brand-primary);
}

.hero-left p {
    width: 70%;
}

.hero-left .category {
    width: 90%;
    display: flex;
    flex-direction: column;
}


.category p {
    display: flex;
    color: var(--primary-light);
    background: var(--primary-dark);
    width: fit-content;
    height: 1.5rem;
    padding: 0 1rem;
    border-radius: .4rem .4rem 0 0;
}

.category-input{
    display: flex;
    width: 100%;
    overflow: hidden;
    background: var(--primary-light);
    border-radius: 0 0.4rem 0.4rem 0.4rem;
    filter: drop-shadow(0px 0px 3rem #4d628040);
}

.category-input #searchBox{
    color: var(--secondary-dark);
    width: 90%;
    outline: none;
    border: none;
    padding: 1rem;
    font-weight: 500;
}

.category-input img{
    display: flex;
    margin: var(--auto-margin-l-r);
}



.hero-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    height: 75%;
    animation: slideright 1.3s ease forwards;
    filter: drop-shadow(0px 0px 56px rgba(100, 118, 139, 0.15));
}
/* <!-- hero section ends --> */





/* <!-- teams / cards section starts --> */
.teams-section {
    width: 100%;
    height: auto;
}

.teams-member {
    max-width: var(--full-size);
    margin: var(--auto-margin-l-r);
    padding: 3rem 1rem;
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 2rem;

}




.card {
    z-index: 5;
    min-width: 19rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    background: var(--primary-light);
    color: var(--primary-dark);
    filter: drop-shadow(0px 0px 56px rgba(100, 118, 139, 0.15));
    overflow: hidden;
    animation: slideDn 1s ease forwards;
}

.card:hover .img-card img {
    transform: scale(1.1);
}

.card .img-card {
    overflow: hidden;
    width: 100%;
    height: 45%;
    color: var(--primary-light);
    display: grid;
    place-content: center;
    background: var(--brand-greenGrad);

}

.card .img-card img {
    width: 100%;
    transition: transform 1s ease;
}

.card .texts,
.card .action-btn {
    margin: .8rem;
    justify-content: space-between;
    animation: slideleft 1.3s ease forwards;
}

.card .texts p {
    color: var(--secondary-dark);
}

.card .texts .name-chip {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.card .img-chip a {
    font-size: 8px;
    font-weight: 600;
    border-radius: 2px;
    background: var(--brand-lightDark);
    padding: 4px;
    display: flex;
    flex-direction: column;
    color: var(--secondary-dark);
}


/* for ratings section */
.ratings {
    display: flex;
    margin: var(--auto-margin-t-b);
    font-size: 1rem;
    animation: slideleft 1.6s ease forwards;
}

/* Add this CSS to style the modal */
.modal {
    z-index: 300;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: .5rem;
    text-align: center;

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
}

.ratings-options {
    margin-top: 20px;
}

.star {
    font-size: 34px;
    cursor: pointer;
}


.star.rated {
    color: rgb(255, 238, 0);
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.3));
}


#submitRating {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--brand-secondary);
    color: #fff;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}


#ratingDisplay {
    color: var(--brand-secondary);
    width: fit-content;
    display: block;
    font-size: .8rem;
    font-weight: 500;
    margin-left: .8rem;
}


.chat-btn a {
    color: var(--primary-light);
    background: var(--brand-primary);
    display: flex;
    column-gap: .5rem;
    align-items: center;
    height: 2rem;
    width: 6rem;
    justify-content: center;
    border-radius: .4rem;
    animation: slideleft 1.5s ease forwards;
}

.chat-btn a:hover {
    background: #775df8;
}

.chat-btn a i {
    display: flex;
}
/* <!-- teams / cards section ends --> */




/* <!-- clients section starts --> */
.socialProofs {
    width: 100%;
    height: auto;
    display: flex;
}



.socialProofs .container {
    z-index: -1;
    display: flex;
    max-width: var(--full-size);
    margin: var(--auto-margin-l-r);
    color: var(--primary-light);
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 4rem;
}

.socialProofs .container .titleContainer {
    width: 100%;
    margin: 1rem 0;
    color: var(--primary-dark);
}

.socialProofs .container > p {
    color: var(--brand-offline);
    font-size: .8rem;
    font-weight: 600;
    background: var(--brand-offlineLight);
    margin: var(--auto-margin-l-r);
    width: fit-content;
    top: 1rem;
    z-index: 1;
    padding: .3rem;
    border-radius: 4px;
}



.socialProofs .container .clients-icons {
    padding: 1rem;
    border-radius: .5rem;
    background: var(--brand-lightBlue);
    display: flex;
    justify-content: center;
    margin: var(--auto-margin-l-r);
    row-gap: 1rem;
    overflow: hidden;
}

.clients-icons img {
    filter: blur(8px);
    width: fit-content;
    height: 56px;
    opacity: 30%;

}
/* <!-- clients section ends --> */


.footer{
    width: 100%;
    height: auto;
    background: var(--primary-dark);
    flex-direction: column;
    color: white;
}

.footer .footer-contents{
    max-width: var(--full-size);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: var(--auto-margin-l-r);
    padding: 1rem;

}

.footer-contents .socialMedia{
    display: flex;
    flex-direction: column;
}

.socialMedia a,
.resources a{
    color: var(--primary-light);
}


.footer-contents .resources{
    display: flex;
    flex-direction: column;
}

.socialMedia p,
.resources p{
    color: var(--brand-primary);
    font-weight: 600;
    margin-bottom: .6rem;
}

.footer .copyright{

    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    border-top: 1px solid var(--secondary-dark);
}





/* <!-- newsLetter section starts --> */
.newsLetter{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    color: var(--primary-dark);
    background: var(--brand-lightBlue);
}

.newsLetter-container {
    max-width: var(--full-size);
    height: 300px;
    background: var(--brand-lightBlue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.img-container{
    height: 100%;
    width: 50%;
    height: auto;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    width: 80%;
}

.texts-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;

}

.main-text h1{
    color: var(--brand-primary);
}

.main-text p{
    font-size: 1rem;
    color: var(--secondary-dark);
}

.texts-container .inputBox{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.inputBox input{
    width: 60%;
    padding: .5rem;
    color: var(--primary-dark);
    border: 1px solid var(--brand-primary);
    outline: none;
    font-weight: 500;
    border-radius: .3rem 0 0 .3rem;
}

.inputBox button{
    padding: .56rem;
    border: none;
    font-weight: 600;
    border-radius: 0 .3rem .3rem 0;
    color: var(--primary-light);
    background: var(--brand-primary);
}

.texts-container > p{
    font-size: .8rem;
    color: var(--secondary-dark);
}
/* <!-- newsLetter section ends --> */





/* ------------------------------------------------------------------------------ */

@media screen and (max-width: 1024px) {
    /* .teams-member {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        margin: var(--auto-margin-l-r);
        overflow: auto;
        gap: 2rem;
    } */

}


@media only screen and (max-width: 425px) {
    .header {
        height: 3rem;
    }


    .nav-links {
        display: none;
    }

    .header .action-btn {
        display: none;
    }

    .nav i {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        margin: var(--auto-margin-t-b);
    }


    /* hero section started */
    .hero {
        height: auto;
    }

    .hero-contents {
        height: 39rem;
        flex-direction: column;
        margin: var(--auto-margin-l-r);
    }


    .hero-left {
        width: 100%;
        height: 50%;
        text-align: center;
        align-items: center;
    }

    .hero-left h1 {
        font-weight: 900;
        font-size: 2rem;
    }


    .hero-left>p {
        padding: 1rem 0;
        width: 90%;
    }


    .hero-left .category {
        width: 95%;
    }



    .hero-right {
        height: 60%;
        display: flex;
        margin: var(--auto-margin-l-r);
    }

    .hero-right img {
        height: 80%;
        display: flex;
    }




    /* .teams-member {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        margin: var(--auto-margin-l-r);
        overflow: auto;  
        gap: 2rem;
    } */

    .container .clients-icons {
        margin: var(--auto-margin-l-r);
        margin: 0 1rem;
    }

    .container .clients-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .clients-icons img {
        height: 46px;
    }



    .newsLetter-container {
        height: 500px;
        flex-direction: column;
    }
    
    .img-container{
        width: 100%;
        height: 60%;

    }
    
    .img-container img{
        height: 100%;
    }




    .footer-contents {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
    }




}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .header .action-btn {
        display: none;
    }

    .nav i {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        margin: var(--auto-margin-t-b);
    }

    .hero-left h1 {
        font-weight: 900;
        font-size: 2.5rem;
    }

    /* .teams-member {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin: var(--auto-margin-l-r);
        overflow: auto;
        gap: 2rem;
    } */
}

/* ------------------------------------------------------------------------------ */